// Non-modular or client styles for .l-footer region.

.l-footer {
    background: $ro-gray;
    color: $white;
    padding: 2rem 0rem;

    a {
        color: $white;
    }

}


.bottom-bar {
    background: $ro-gray;
    color: $white;
}