// Non-modular or client styles for .l-header region.

.l-meta-header {
    
    a {
        color: $ro-gray;
    }
    .block-fuse-branding  {


        img {
            max-height: 6rem;
            display: block;
            float: left;
        }
    }

    .block-site-name {
        display: block;
        max-width: 9rem;
        float: left;
        font-size: 2rem;
        line-height: 1em;
        margin-top: 1rem;
        margin-left: .25rem;
        font-weight: 500;
    }
}



.block-fuse-main-menu {
    display: inline-block;
    margin-left: 2rem;
    margin-top: 2rem;
}

