.field-block-content--field-instruction-image {
    img {
        max-width: 15rem;
    }
}

/// Related Articles Block //
.block-views-block-articles-block-2 {
    .views-row {
        border-bottom: solid 1px;
        padding-bottom: 1rem;
        margin-bottom: 1rem;

    }
}