// Stylesheet for node styles // 
//
//

//Article Node Type 
//

.node--type-article {

    .field-node--body {
        margin-bottom: 2rem;
    }

    .field-name-field-header-image {
        margin-bottom: 2rem;
        margin-top: 1rem;
    }

    .block-addtoanybuttons {
        margin-top: 10rem;
    }

}


.block-views-block-user-authored-by-block-1 {
    @include breakpoint (large) {
        margin-top: 6rem;
    }

    .field-user--user-picture {
        padding: 1rem;
        text-align: center;
        img {
            
            width: 10rem;
        }
    }

    .field-name-realname {
        @extend .h4;
    }
}