// General Paragraph Styles // 

.paragraph {
    margin-bottom: 2rem;
}


// Body Text Paragraph // 

.paragraph--type--body-text {
    
}

// End of Body Tect Paragraph// 

// Image Paragraph Type // 

.field-paragraph--field-image-caption {
    @include caption; 
}



//Featured Content Paragraph //
// 
.featured-content-image {
    @include breakpoint (medium) {
        width: 50%;
        
        &.img-right {
            flex: 0 1 auto;
            order: 1;
        }
    }
}

.field-name-field-featured-content-title {
    @extend h3;
}

.field-paragraph--field-subheader {
    font-size: $lead-font-size;
    line-height: $lead-lineheight;
}

.field-paragraph--field-featured-content-title {

}

.featured-content-text {
    padding: 1rem;

    @include breakpoint (medium) {
        width: 50%;
        
        &.img-right {
            order: 0;
            flex: 0 1 auto;
        }
    }

}

.featured-content-wrapper {
    @include breakpoint (medium) {
        display: flex;
        align-items: center;
    }
    
}





// END of Featured Content Paragraph //


//Full Width Hero Paragraph // 
//

.paragraph--type--hero {
    position: relative;
    height: 100%;
    width: 100%;
    text-align: center;
    .row {
        position: relative;
        @include breakpoint (small only) {
            height: 7rem;;
        }
    }
}


.hero-text-wrapper {

    @include breakpoint (medium) {
        position: absolute;
        top: 5rem;

    }
    
}


.field-paragraph--field-hero-title { 
    font-size: 1.75rem;
    margin: 0rem auto;

    @include breakpoint (medium) {
        font-size: 3rem;
        max-width: 75%;
        line-height: 3rem;
        
    }
}

.field-paragraph--field-hero-subheader {
    

    @include breakpoint (medium) {
        font-size: 1.5rem;
        margin: 2rem auto;
        max-width: 50%;
        
    }
}

.field-paragraph--field-hero-link {
    position: relative;
    margin: 1rem;
    a {
        background: $ro-green;
        border-radius: 5px;
        color: $white;
        padding: 0.5rem;
    }
}

// End of Full Width Hero // 

// Our Connection Process//
.paragraph--item-23 {
    text-align: center;
}

// Titles from each connection block //
.paragraph--item-21 {
    h2 {
        @extend h4; 
    }
}
// H2 Title //
.paragraph--item-22 {
    margin: 2rem 0rem;
  }


// Pricing Options 

.paragraph--item-34 {
    text-align: center;
}