.menu-text {
    text-indent: -5000px;
    display: none;
    @include breakpoint (medium) {
        background-image: url(/themes/custom/fuse/images/rologo.svg);
        background-repeat: no-repeat;
        width: 16rem; 
    }
}

.top-bar-left {
    @include breakpoint (small only) {
        display: none;
    }
}
   

.top-bar {
    background: transparent;
    text-align: center;

    ul {
        background: transparent;
    }
}

.title-bar {
    background-color: transparent;

    .menu-icon::after {
        color: $ro-gray;
    }
}

.title-bar-title {
    background-image: url(/themes/custom/fuse/images/rologo.svg);
    background-repeat: no-repeat;
    text-indent: -5000px;
    width: 100%;
    height: 2rem;
    margin-left: 22%;
    margin-top: 5px;
}

