.menu-text {
    text-indent: -5000px;
    display: none;
    @include breakpoint (medium) {
        background-image: url(/themes/custom/fuse/images/logos/ro-logo.png);
        background-repeat: no-repeat;
        height: 90px;
        width: 320px; 
        .section-friends & {
            background-image: url(/themes/custom/fuse/images/logos/ro-logo-friends.png);
        }

        .section-date & {
            background-image: url(/themes/custom/fuse/images/logos/ro-logo-date.png);
        }

        .section-career & {
            background-image: url(/themes/custom/fuse/images/logos/ro-logo-career.png);
        }

    }
}




.top-bar-left {
    @include breakpoint (small only) {
        display: none;
    }
}
   

.top-bar {
    
    text-align: center;

    ul {
    
    }
}

.title-bar {
    .menu-icon::after {
        color: $ro-gray;
    }
}

.title-bar-title {
    background-image: url(/themes/custom/fuse/images/rologo.svg);
    background-repeat: no-repeat;
    text-indent: -5000px;
    width: 100%;
    height: 2rem;
    margin-left: 22%;
    margin-top: 5px;
}

